* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
a{
    text-decoration: none;
}

body{
    min-height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    left: 0;
    top:0;
    width: 100%;
}